jupyter
jupytext
matplotlib
mlflow
pandas
pytest
pytest-env
tqdm
scikit-learn
requests
# python -m ipykernel install --user --name dsp-training --display-name "Python (dsp-training)"
ipykernel
seaborn